<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="lib/css/bootstrap.min.css" ></link>
	
	<script src="lib/js/jquery-3.2.1.min.js"></script>
	<script src="lib/js/bootstrap.min.js"></script>
	<script src="lib/js/angular.min.js"></script>
	<script src="lib/js/script.js"></script>
	<title>Topic Description Catalogue</title>
</head>
<body>
<div ng-app="tdlApp" ng-controller="tdlCtrl">
	<div class="jumbotron jumbotron-fluid text-center" style="padding: 10px">
	  <h1>Topic Description Catalogue</h1>
	</div>
<div class="container-fluid">
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h1>Jump to</h1>
		<div class="list-group">
			<a class="list-group-item list-group-item-action" href="#descriptions">Topic descriptions</a>			
			<a class="list-group-item list-group-item-action" href="#settings">Settings</a>
			<a class="list-group-item list-group-item-action" href="#adddescription">Add topic description</a>
		</div>
	</div>	
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<div class="bg-info text-white links-box">
			<h3 style="margin: 0px">Links</h3>
			<a href="{{swaggerUrl}}">Swagger</a>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row rowborder"></div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<h1 id="descriptions">Topic descriptions</h1>
		<p>All available topic descriptions which are matching to the provided filter values.</p>
		<table class="table table-bordered">
			<tr style="background-color: #EEE">
				<th ng-show="showId">
					id
					</br>
					<label><input ng-model="searchText._id.$oid"></label>
				</th>
				<th ng-show="showDataType">
					data_type
					</br>
					<select ng-model="searchText.data_type" class="dropdown-input" ng-change="searchText.data_type==''?searchText.data_type=undefined:1">
						<option value>All</option>
						<option ng-repeat="v in getDataTypes(topicDescription)" value="{{v}}">
							{{v}}
						</option>
					</select>
				</th>
				<th ng-show="showHardwareType">
					hardware_type
					</br>
					<label><input ng-model="searchText.hardware_type" ng-change="searchText.hardware_type == ''?searchText.hardware_type = undefined:1"></label>
				</th>
				<th ng-show="showTopicType">
					topic_type
					</br>
					<label><input ng-model="searchText.topic_type" ng-change="searchText.topic_type == ''?searchText.topic_type = undefined:1"></label>
				</th>
				<th ng-show="showMessageFormat">
					message_format
					</br>
					<label><input ng-model="searchText.message_format" ng-change="searchText.message_format == ''?searchText.message_format = undefined:1"></label>
				</th>
				<th ng-show="showProtocol">
					protocol
					</br>
					<select ng-model="searchText.protocol" class="dropdown-input" ng-change="searchText.protocol == ''?searchText.protocol = undefined:1">
						<option value="">All</option>
						<option ng-repeat="v in getProtocol(topicDescription)" value="{{v}}">
							{{v}}
						</option>
					</select>
				</th>
				<th ng-show="showOwner">
					owner
					</br>
					<label><input ng-model="searchText.owner" ng-change="searchText.owner == ''?searchText.owner = undefined:1"></label>
				</th>
				<th ng-show="showMiddlewareEndpoint">
					middleware_endpoint
					</br>
					<label><input ng-model="searchText.middleware_endpoint" ng-change="searchText.middleware_endpoint == ''?searchText.middleware_endpoint = undefined:1"></label>
				</th>
				<th ng-show="showPath">
					path
					</br>
					<label><input ng-model="searchText.path" ng-change="searchText.path == ''?searchText.path = undefined:1"></label>
				</th>
				<th colspan="3" style="text-align: center">
					Events
				</th>
			</tr>
			<tr ng-repeat="topic in topicDescription | filter:searchText">
				<td ng-if="showId">{{topic._id.$oid}}
				</td>
				<td ng-if="showDataType">
					<div ng-hide="updateMode">{{topic.data_type}}</div>
					<div ng-show="updateMode"><label><input ng-model="topic.data_type"></label></div>
				</td>
				<td ng-if="showHardwareType">
					<div ng-hide="updateMode">{{topic.hardware_type}}</div>
					<div ng-show="updateMode"><label><input ng-model="topic.hardware_type"></label></div>
				</td>
				<td ng-if="showTopicType">
					<div ng-hide="updateMode">{{topic.topic_type}}</div>
					<div ng-show="updateMode"><label><input ng-model="topic.topic_type"></label></div>
				</td>
				<td ng-if="showMessageFormat">
					<div ng-hide="updateMode">{{topic.message_format}}</div>
					<div ng-show="updateMode"><label><input ng-model="topic.message_format"></label></div>
				</td>
				<td ng-if="showProtocol">
					<div ng-hide="updateMode">{{topic.protocol}}</div>
					<div ng-show="updateMode"><label><input ng-model="topic.protocol"></label></div>
				</td>
				<td ng-if="showOwner">
					<div ng-hide="updateMode">{{topic.owner}}</div>
					<div ng-show="updateMode"><label><input ng-model="topic.owner"></label></div>
				</td>
				<td ng-if="showMiddlewareEndpoint">
					<div ng-hide="updateMode">{{topic.middleware_endpoint}}</div>
					<div ng-show="updateMode"><label><input ng-model="topic.middleware_endpoint"></label></div>
				</td>
				<td ng-if="showPath">
					<div ng-hide="updateMode">{{topic.path}}</div>
					<div ng-show="updateMode"><label><input ng-model="topic.path"></label></div>
				</td>
				<td class="borderless">
					<a type="button" data-toggle="collapse" data-target="#complete_{{topic._id.$oid}}" class="btn btn-primary">Show JSON</a>
					<div id="complete_{{topic._id.$oid}}" class="collapse">
						<pre>{{topic | json}}</pre>
					</div>
				</td>
				<td ng-hide="updateMode" class="borderless">
					<button type="button" class="btn btn-success" ng-click="updateMode=true">Update</button>
				</td>
				<td ng-show="updateMode" class="borderless">
					<button type="button" class="btn btn-success" ng-click="updateMode=false; updateTopicDescription(topic)" >Save</button>
				</td>
				<td ng-show="updateMode" class="borderless">
					<button type="button" class="btn btn-warning" ng-click="updateMode=false; cancelUpdateTopicDescription(topic)">Cancel</button>
				</td>
				<td ng-hide="updateMode" class="borderless">
					<a type="button" ng-click="removeTopicDescription(topic)" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="row rowborder"></div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
	  <h1 id="settings">Settings</h1>	
	  <a type="button" data-toggle="collapse" data-target="#show_settings" class="btn btn-primary" ng-click="collapseSettings = !collapseSettings" ng-init="collapseSettings = false">
	  	<span ng-show="collapseSettings">Hide settings</span>
	  	<span ng-show="!collapseSettings">Show settings</span>
  	  </a>
	  <div id="show_settings" class="collapse">
		<p>Select columns which should be visible in upper table. Define filters to reduce amount of topic descriptions.</p>
		<p class="btn-info">Filter value is always active also when the column is not visible!</p>
		<table class="table table-bordered">
			<tr style="background-color: #EEE">
				<th>
					Property
				</th>
				<th>
					Filter value
				</th>
			</tr>
			<tr>
				<td>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showId" ng-init="showId = true"></input> 
							id
						</label>
					</div>
				</td>
				<td>
					<label><input ng-model="searchText._id.$oid"></label>
				</td>
			</tr>
			
			<tr>
				<td>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showDataType" ng-init="showDataType = true"></input> 
							data_type
						</label>
					</div>
				</td>
				<td>
					<select ng-model="searchText.data_type" class="dropdown-input" ng-change="searchText.data_type==''?searchText.data_type=undefined:1">
						<option value>All</option>
						<option ng-repeat="v in getDataTypes(topicDescription)" value="{{v}}">
							{{v}}
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>			
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showHardwareType" ng-init="showHardwareType = true"></input> 
							hardware_type
						</label>
					</div>
				</td>
				<td>
					<label><input ng-model="searchText.hardware_type" ng-change="searchText.hardware_type == ''?searchText.hardware_type = undefined:1"></label>
				</td>				
			</tr>
			<tr>
				<td>			
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showTopicType" ng-init="showTopicType = false"></input> 
							topic_type
						</label>
					</div>
				</td>
				<td>
					<label><input ng-model="searchText.topic_type" ng-change="searchText.topic_type == ''?searchText.topic_type = undefined:1"></label>
				</td>				
			</tr>
			<tr>
				<td>			
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showMessageFormat" ng-init="showMessageFormat = false"></input> 
							message_format
						</label>
					</div>
				</td>
				<td>
					<label><input ng-model="searchText.message_format" ng-change="searchText.message_format == ''?searchText.message_format = undefined:1"></label>
				</td>				
			</tr>
			<tr>
				<td>			
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showProtocol" ng-init="showProtocol = true"></input> 
							protocol
						</label>
					</div>
				</td>
				<td>
					<select ng-model="searchText.protocol" class="dropdown-input" ng-change="searchText.protocol == ''?searchText.protocol=undefined:1">
						<option value="">All</option>
						<option ng-repeat="v in getProtocol(topicDescription)" value="{{v}}">
							{{v}}
						</option>
					</select>
				</td>				
			</tr>
			<tr>
				<td>			
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showOwner" ng-init="showOwner = true"></input> 
							owner
						</label>
					</div>
				</td>
				<td>
					<label><input ng-model="searchText.owner" ng-change="searchText.owner == ''?searchText.owner = undefined:1"></label>
				</td>				
			</tr>
			<tr>
				<td>			
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showMiddlewareEndpoint" ng-init="showMiddlewareEndpoint = false"></input> 
							middleware_endpoint
						</label>
					</div>
				</td>
				<td>
					<label><input ng-model="searchText.middleware_endpoint" ng-change="searchText.middleware_endpoint == ''?searchText.middleware_endpoint = undefined:1"></label>
				</td>				
			</tr>
			<tr>
				<td>			
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" ng-model="showPath" ng-init="showPath = false"></input> 
							path
						</label>
					</div>
				</td>
				<td>
					<label><input ng-model="searchText.path" ng-change="searchText.path == ''?searchText.path = undefined:1"></label>
				</td>				
			</tr>		
		</table>
	   </div>
	</div>
	<div class="col-sm-4"></div>	
</div>
<div class="row rowborder"></div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h1 id="adddescription">Add topic description</h1>	
		Add topic description to catalogue.
				<table class="table table-bordered">
			<tr style="background-color: #EEE">
				<th>Property</th>
				<th>Value</th>
			</tr>			
			<tr>
				<th>data_type</th>
				<td>
					<label><input ng-model="insert.data_type"></label>
				</td>
			</tr>
			<tr>
				<th>hardware_type</th>
				<td>
					<label><input ng-model="insert.hardware_type"></label>
				</td>				
			</tr>
			<tr>
				<th>topic_type</th>
				<td>
					<label><input ng-model="insert.topic_type"></label>
				</td>				
			</tr>
			<tr>
				<th>message_format</th>
				<td>
					<label><input ng-model="insert.message_format"></label>
				</td>				
			</tr>
			<tr>
				<th>protocol</th>
				<td>
					<label><input ng-model="insert.protocol"></label>
				</td>				
			</tr>
			<tr>
				<th>owner</th>
				<td>
					<label><input ng-model="insert.owner"></label>
				</td>				
			</tr>
			<tr>
				<th>middleware_endpoint</th>
				<td>
					<label><input ng-model="insert.middleware_endpoint"></label>
				</td>				
			</tr>
			<tr>
				<th>path</th>
				<td>
					<label><input ng-model="insert.path"></label>
				</td>				
			</tr>		
		</table>
		<button type="button" class="btn btn-primary" ng-click="insertTopicDescription()">Insert</button>
		<button type="button" class="btn btn-warning" ng-click="cancelInsertTopicDescription()">Cancel</button>
		<br/>
		<div ng-if="idOfNewTopicDescription">
			<br/>
			<pre>{{idOfNewTopicDescription}}</pre> is the new id of the topic description from <span>{{addDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>
</div>
</div>
<br>
<br>
<style type="text/css">

	.borderless {
		border: 0 !important
	}
	
	.btn {
		min-width: 75px
	}
	
	.rowborder {
		background-color: #EEE;
		height: 50px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.links-box{
		border-radius: 25px;
		padding: 20px;
		margin-top: 20%;
	}
	
	.dropdown-input{
		padding: 2px;
		height: 26px;
	}
</style>

</body>
</html>